<div class="footer clearfix">
    <div class="col-md-6">
        Made with <i class="fa fa-heart"></i> by <a href="https://www.facebook.com/RontavGames" target="_blank">Mocanu Valentin</a>. Theme by <a href="https://twitter.com/_JacobTomlinson" target="_blank">Jacob Tomlinson</a>
    </div>
    <div class="col-md-6">
        &lt;/&gt; on <a href="https://github.com/rontav" target="_blank">Github</a> &nbsp;<i class="fa fa-github-alt"></i>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>

{% if site.google_analytics %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}
